$Black: #09121B;
$Blue: #1B263B;
$LightBlue: #119DA4;
$Red: #CC0000;
$Grey: #6E7271;
$LightGrey: #E0E1DD;
$White: #FFFFFF;

h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    @media (max-width: 499px) {
        margin-top: 0px;
    }
}

nav {
    background-color: $Blue;
    color: $White;
    font-size: 24px;
    ul {
        list-style: none;
        display: flex;
    }
    a {
        color: $White;
    }
    a:hover {
        color: $Red;
    }
}

.nav-link {
    @media (max-width: 499px) {
        font-size: 16px;
    }
}
#profile {
    padding: 25px; 
    // background-color: rgba(204, 0, 0, .5)
}
#profile-photo {
    width: 100%;
    border-radius: 50%;
    @media (max-width: 499px) {
        width: 50%;
    }
}
#profile-photo:hover {
    opacity: .5;
}
body {
    background-color: $White;
    color: $Blue;
    padding: 5px;
}
.social-link {
    color: $Blue;
    font-size: 100px;
}
#twitter {
    color: #1DA1F2;
}
#github {
    color: black;
}
#linkedin {
    color: #0077B5;
}
#instagram {
    color: $Black;
}
#medium {
    color: $Black;
}
#email {
    color: $Red;
}
a {
    color: $LightBlue;
}
a:hover {
    color: $LightGrey;
}
p {
    font-size: 36px;
    @media (max-width: 499px) {
        font-size: 24px;
    }
}