/* Color Scheme 
Mint Cream #f7fff7
English Green #1a535c
Medium Turquoise #4ecdc4
Pastel Red #ff6b6b
Maize #ffe66d
*/

body {
    background: #f7fff7
}
h1 {
    color: #1a535c
}
#navBar {
    background-color: #ffe66d;
    color: #f7fff7;
}